.q {
    overflow: none;
    height: calc(100vh - 60px);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(120deg, #f7f7f7 0%, #819ca9 100%)
}


#q-foot {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pace {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

#pace-helper {
    margin: auto;
}

#pace-control {
    position: relative;
    left: 10%;
    min-width: 200px;
}

/* #select{
    display: flex;
    justify-content: center
} */

#selector {
    margin-left: 50px;
}

@media(min-device-width: 375px) {
    .q {
        height: calc(100vh - 80px);
        padding: 70px 40px 40px 40px;
    }

    #pace {
        margin-top: 20px;
    }

    #q-foot {
        margin-top: 40px;
    }

    #pace-control {
        left: 7.5%;
        min-width: 250px;
    }
}

@media(min-device-width: 414px) {
    .q {
        padding: 85px 60px 60px 60px;
        height: calc(100vh - 120px);
    }

    #q-foot {
        margin-top: 80px;
    }

    #pace-control {
        left: 5.5%;
        min-width: 260px;
    }
}
@media(min-device-height: 812px) {
    .q {
        padding: 75px 60px 60px 60px;
    }
    
    #q-foot {
        margin-top: 130px;
    }

    #pace-control {
        left: 6%;
        min-width: 260px;
    }
}

@media(min-device-width: 768px) {
    .q {
        height: calc(100vh - 80px);
        padding: 40px;
    }

    #pace-control {
        left: 31%;
        min-width: 260px;
    }
}

@media(min-device-width: 1224px) {
    .q {
        height: calc(100vh - 20px);
        padding: 20px 20px 0 20px;
    }
    #pace {
        margin-top: 50px;
    }

    #pace-control {
        left: 0;
        margin-bottom: 30px;
        min-width: 100%;

    }
}
/* .q-header-text {
    text-align: center;
} */