.playlist-tab {
    display: flex;
    align-content: center;
}

.playlist-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}

.playlist-main {
    height: 400px;
    overflow: scroll;

    
}

/* .playlist-main Typography {

} */

@media (min-device-width: 375px) {
    .playlist-main {
        height: 507px;
    }

}

@media (min-device-width: 414px) {
    .playlist-main {
        height: 567px;
    }

}

@media(min-device-height: 812px) {
    .playlist-main {
        height: 650px;
    }

}

@media (min-device-width: 768px) {
    .playlist-main {
        height: 830px;
    }

}

@media (min-device-width: 1224px) {
    .playlist-main {
        height: 600px;       
    }
}