.logo {
    width: 45px;
    position: absolute;
    right: 30px;
}

.logo img {
    width: 100%;
}

.nav-bar {
    margin-bottom: 56px;

}

@media (min-device-width: 375px) {
    .logo {
        width: 50px;
        position: absolute;
        right: 30px;
    }
}

@media (min-device-width: 768px) {
    .logo {
        width: 58px;
        position: absolute;
        right: 30px;
    }

    .nav-bar {
        margin-bottom: 64px;
    }
}

@media (min-device-width: 768px) {
    .logo {
        width: 58px;
        position: absolute;
        right: 30px;
    }

    .nav-bar {
        margin-bottom: 64px;
    }
}