.playlist-btn-bar {
    border-top: 1px lightgray solid;
    width: 100vw;
    background-color: white;
    position: fixed;
    bottom: 0;
    padding: 5px 0 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* @media (min-device-width: 375px) {
    .playlist-btn-bar {
        left: 25%;
    }
} */

@media (min-device-width: 414px) {
    .playlist-btn-bar {
        padding: 10px 0 10px 0;
    }
}

@media (min-device-height: 812px) {
    .playlist-btn-bar {
        padding: 8px 0 8px 0;
    }
}

@media (min-device-width: 1224px) {
    .playlist-btn-bar {
        padding: 10px 0 10px 0;
    }
}











