.playlist-btn-bar {
    position: fixed;
    left: 20%;
    bottom: 5px;
    padding-top: 10px;
    display: flex;
    align-items: center;
}


@media (min-device-width: 375px) {
    .playlist-btn-bar {
        left: 25%;
    }
}

@media (min-device-width: 414px) {
    .playlist-btn-bar {
        left: 26%;
    }
}

@media (min-device-width: 768px) {
    .playlist-btn-bar {
        left: 37%;
        bottom: 6px;
    }
}

@media (min-device-width: 1224px) {
    .playlist-btn-bar {
        left: 40%;
        bottom: 6px;
    }
}











