#search-field {
    text-align: center;
}

.search-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    /* justify-content: space-between; */
}

.RadioGroup {
    padding: 20px;

}

.search-results {
    display: flex;
    flex-direction: column;
}

.search-tools {
    width: 100vw;
}


.search-options {
    border-radius: 2px;
    border: 1px solid lightgray;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    
}