/* #music-icon {
    height: 50px;
    position: relative;
    
} */

.mobile-song {
    padding-top: 5px;
    padding-left: 10px;
    height: 205px;
    margin-bottom: 10px;
}

.song-controls {
    position: relative;
    bottom: 80px;
    left: 200px;
}

#order-num {
    position: relative;
    top: 10px;
    left: 10px;

}

@media(min-device-width: 375px) {
    .song-controls {
        bottom: 80px;
        left: 255px;
    }
}