/* #music-icon {
    height: 50px;
    position: relative;
    
} */

.mobile-song {
    padding-top: 5px;
    padding-left: 10px;
    height: 205px;
    width: 278px;
    margin-bottom: 10px;
}

.song-controls {
    display: flex;
    position: relative;
    left: 140px;
    bottom: 20px;
}



@media(min-device-width: 375px) {
    .song-controls {
        left: 190px;
    }

    .mobile-song {
        width: 334px;
    }
}

@media(min-device-width: 414px) {
    .song-controls {
        left: 220px;
    }

    .mobile-song {
        width: 370px;
    }
}

@media(min-device-height: 812px) {
    .song-controls {
        left: 190px;
        bottom: 25px;
    }

    .mobile-song {
        width: 335px;
    }
}