.auth-page {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(120deg, #f7f7f7 0%, #819ca9 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.auth-page img {
    height: 100px;

}

.auth-page header {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .auth-background  */

.login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(120deg, #f7f7f7 0%, #819ca9 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}